@import "variables";
@import "mixins";
@import "cssVariables";
@import "reset";
@import "typography";
@import "grid";
@import "utilities/utilities";
@import "components/components";
@import "pages/pages";
@import "responsive";
@import "custom";
@import "nprogress";

single-question {
    display: block;
    box-shadow: $shadow;
    > img {
        width: 50px;
        height: 50px;
    }
}

