<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Please Upgrade your browser</title>
    <link rel="stylesheet" href="css/app.css">
</head>
<body class="d-flex flex-column align-center border-t-4 border-primary">
    <h3 class="fw-900 text-primary mt-3 text-center">  Your Browser doesn't support Custom Web components </h3>
    <p class="text-center">
        This application uses Custom Web components that are not supported by your browser
        <br>
        Please install an up to date browser that supports custom web components
        most preferably 
        <br>
        <a href="https://www.google.com/chrome/" style="color:blue;" class="mt-2" target="_blank">
            Google chrome
        </a>
    </p>
   
    <script>
    //if the user has upgraded the broswer please redirect to the correct page
        if (!!HTMLElement.prototype.attachShadow) {
            window.location.replace("login.html");
        }

    </script>
</body>
</html>