{{#extend "layouts/app" title="Post A new Question"}}
{{#content "main"}}
<div class="p-3 p-1-md">
   <div class="bg-white  shadow-lg p-3"> 
       <h3>Ask Away</h3>
       <form action="/questions" method="post"  is="ajax-form" id="QuestionForm">
          <div class="field">
              <label for="">Provide a title</label>
              <custom-input type="text"  name="title"></custom-input>
          </div> 
          <div class="field">
              <label for="">Description</label>
              <custom-textarea name="description" rows="3"  placeholder="Be specific so that your peers can help"></custom-textarea>
          </div> 
          <div class="field">
              <button class="btn btn-primary"  is="submit-button">
                {{>icons/IconBook}}
                Publish

            </button>
        </div>
    </form>  
  </div>
</div>

{{/content}}
{{/extend}}