<aside>
    <section class="d-flex flex-column align-center bg-white py-2" id="JS-sidebar-user-profile">
        <img src="images/user.png" alt="user image" class="h-150 rounded">
    </section>
  <nav class="sidebar-links">
    <a href="index.html" class="sidebar-link">
        <i class="sidebar-link-icon">{{>icons/IconBook}}</i>
        <span class="sidebar-link-text">Questions</span>
    </a>
    <a href="profile.html" class="sidebar-link">
        <i class="sidebar-link-icon">{{>icons/IconUser}}</i>
        <span class="sidebar-link-text">Profile</span>
    </a>
    <a href="login.html" class="sidebar-link" id="JS-logout-link">
        <i class="sidebar-link-icon">{{>icons/IconKey}}</i>
        <span class="sidebar-link-text">Sign Out</span>
    </a>
</nav>
</aside>